//変数を設定。変数はbootstrapを読み込む前に設定する

// line-height
$heading-line-height:1.5;
$line-base:1.65;
//colors
$gray-dark:#546e7a;

//font-family
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {

  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}


//bootstrapを読み込む
@import '/var/www/html/vendor/twbs/bootstrap/scss/bootstrap';

//変数では無い設定はbootstrapを読み込んだ後

//letter-spacing
body{
  letter-spacing: .1em;
  text-align: justify;
}
